body {
    font-family: Helvetica;
    font-size: 11px;
    cursor: default;
    font-size: 13px;
    font-family: sans-serif;
    background-color: #ebeff9;
    overflow: hidden;
    margin: -20px -20px -20px 267px;
}

.options {
    z-index: 2;
    position: absolute;
    left: 267px;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 25px;
    overflow-y: auto;
    overflow-x: hidden;
}

.background {
    border-left: 1px solid #C6C9CE;
    box-shadow: 0 0 20px #cdcdcd;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

button,
div {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: arrow;
}

select {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    color: #444;
    font-size: inherit;
    margin-bottom: 0;
    margin-top: 2px;
    min-width: 4em;
    padding: 3px 12px;
    height: 26px;
}

button {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    border: 1px solid #AAA;
    color: #444;
    font-size: inherit;
    margin-bottom: 0;
    margin-top: 2px;
    min-width: 4em;
    padding: 3px 12px;
}

button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
    border-color: #999;
    color: #222;
}

button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #EBEBEB -webkit-linear-gradient(#F4F4F4, #EFEFEF 40%, #DCDCDC);
    color: #333;
}

h1 {
    border-bottom: 1px solid #eee;
    color: #53637d;
    font-size: 2em;
    font-weight: normal;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 13px;
    text-shadow: #FFF 0 1px 2px;
    -webkit-padding-end: 24px;
    -webkit-user-select: none;
}

.navigate {
    left: 0;
    top: 0;
    height: 50px;
    width: 267px;
    position: absolute;
    z-index: -1;
}

.navigate h1 {
    border-bottom: none;
    text-align: right;
}

.listContainer {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin-top: 10px;
}

#content {
    clear: both;
    height: 240px;
    position: relative;
}

#urlsTable {
    width: 100%;
    margin: .5rem 0;
    padding: 0 .5rem;
}

#urlsTable .domain {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 5px 50%;
}

#urlsTable th {
    text-align: left;
}

#urlsTable th:nth-child(1) {
    padding-left: 26px;
}

#urlsTable input {
    width: 100%;
    margin: 0 auto;
}

#options input {
    border-radius: 2px;
    border: 1px solid #AAA;
    font-size: inherit;
    padding: 3px;
    margin-top: 2px;
}